body {
  margin: 0;
  padding: 0;
}
.main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 90vh;
  justify-content: space-between;
}

.left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 45%;
}

.right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 45%;
}

div[class^='item'] {
  background-color: rgba(222, 240, 245, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}
